*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.left{
    flex:1;
    height: 100%;
    background-color: aqua;
}
.right{
    flex: 3;
}